{
  "singleQuote": true,
  "bracketSameLine": true,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "importOrder": [
    "^$",
    "^(styled|react)",
    "<THIRD_PARTY_MODULES>",
    "^(@radar)",
    "^typings/",
    "^(helper|hooks|actions|stores)/",
    "^hoc/",
    "^atoms/",
    "^molecules/",
    "^organisms/",
    "^templates/",
    "^pages/",
    "^[@]",
    "^[.../]",
    "^./$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
